.sidebar-utama .brand-link{
	color: white;
}
.sidebar-utama .nav-pills .nav-link{
	color: white;
}
.sidebar-utama .nav-pills .nav-link:not(.active):hover{
	color:#07305d;
}

.sidebar-utama{
	background-color: #2195f2 ;
}

.navbaratas{
background-color: #2195f2  ;	
}

.navbaratas .navbar-nav .nav-link{

color: white;
}
.ui-front {
	z-index: 99999 !important;
	}

.printingpage{
	height: 5cm;
	 
	/* border: 2px solid black; */
}
.img-container{
	
	height: 100%;
}
.qrcode{
	height: 99%;
	max-height: 100%;	
}
.textjudul{
	display: none;
}
.textpengarang{
	display: none;
}
	
.printingbrpage{
	height: 5cm;
	 
	/* border: 2px solid black; */
}
.barcode{
	height: 95%;
	max-height: 100%;	
}
.bg-danger-low {
    background-color: #dc354580!important;
}
.bg-success-low {
    background-color: #28a74580!important;
}

	